<!-- TO-DO: Improve this method: -->
<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %><br>
  </p>
  <p>
    <%= f.label :recipe_type, 'Tipo da Receita' %>
    <%= f.text_field :recipe_type %><br>
  </p>
  <p>
    <%= f.label :cuisine_id, 'Cozinha '%>
    <%= f.collection_select(:cuisine_id, @cuisines, :id, :name) %>
  </p>
  <p>
    <%= f.label :difficulty, 'Dificuldade' %>
    <%= f.text_field :difficulty %><br>
  </p>
  <p>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <%= f.text_field :cook_time %><br>
  </p>
  <p>
    <%= f.label :ingredients, 'Ingredientes' %>
    <%= f.text_field :ingredients %><br>
  </p>
  <p>
    <%= f.label :method, 'Como Preparar' %>
    <%= f.text_field :method %><br>
  </p>
  <p><%= f.submit 'Enviar' %></p>
  <p><%= link_to "Voltar", root_path %></p>
<% end %>
