<h1><%= @recipe.title %></h1>
<h3>Detalhes</h3>
  <p><%= @recipe.recipe_type %></p>
  <p><%= @recipe.cuisine.name %></p>
  <p><%= @recipe.difficulty %></p>
  <p><%= @recipe.cook_time %> minutos</p>

<h3>Ingredientes</h3>
  <p><%= @recipe.ingredients %></p>

<h3>Como Preparar</h3>
  <p><%= @recipe.method %></p>

<%= link_to "Voltar", root_path %>
<br>
<%= link_to "Excluir", recipe_path(@recipe),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
