<%= form_for @cuisine do |f| %>
  <p>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %><br>
  </p>
  <p><%= f.submit 'Enviar' %></p>
  <p><%= link_to "Voltar", root_path %></p>

<% end %>
