<h1>CookBook</h1>

<p>Bem-vindo ao maior livro de receitas online</p>
<p>Welcome to the biggest online cookbook</p>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe_path(recipe.id) %></h1>
  <li><%= recipe.recipe_type %></li>
  <li><%= recipe.cuisine.name %></li>
  <li><%= recipe.difficulty %></li>
  <li><%= recipe.cook_time %> minutos</li>
<% end %>

<%= link_to 'Enviar uma receita', new_recipe_path %>
<br>
<%= link_to 'Cadastrar uma cozinha', new_cuisine_path %>
